<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSourceMapping>

		<!-- DevExpress packages locked to local DevExpress sources -->
		<packageSource key="DevExpress 24.1 Local">
			<package pattern="DevExpress.*" />
		</packageSource>
		<packageSource key="DevExpress 19.2 Local">
			<package pattern="DevExpress.*" />
		</packageSource>

		<!-- All other packages including transitive dependencies 
         like System.Buffers come from nuget.org -->
		<packageSource key="nuget.org">
			<package pattern="*" />
		</packageSource>

	</packageSourceMapping>
</configuration>